binance:
  first_account:
    enabled: true
    api_key: some_api_key
    secret_key: some_secret_key
  second_account:
    enabled: true
    api_key: some_api_key2
    secret_key: some_secret_key2
bittrex:
  first_account:
    enabled: true
    api_key: some_api_key3
    secret_key: some_secret_key3